{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Find name or address associated to ANS",
        "title": "ANS Indexer API",
        "contact": {},
        "version": "1.0"
    },
    "host": "api.ans.notrustverify.ch",
    "basePath": "/",
    "paths": {
        "/name": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "name"
                ],
                "summary": "Get address associated to a name",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Name to resolve",
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Must fulfilled reverse and forward link",
                        "name": "strict",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": ""
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "main.Name": {
            "type": "object",
            "properties": {
                "capitalisation": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        }
    }
}